.container {
    display: flex;
    flex-direction: column;
    
    width: 500px;
}

.c1 {
    flex-direction:column-reverse;
}



@media(min-width: 768px) {

   .container {
       flex-direction: row;
   }


}



